includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    level: 3
    paths:
        - src
    fileExtensions:
        - php
    checkExplicitMixed: true
    checkFunctionNameCase: true
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: false