@font-face {
    font-family: 'OptimusPrincepsSemiBold';
    src: url('../fonts/OptimusPrincepsSemiBold.ttf');
}

@font-face {
    font-family: 'OptimusPrinceps';
    src: url('../fonts/OptimusPrinceps.ttf');
}
