services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\MobileAppApi\:
    resource: "../../../src/MobileAppApi"

  App\MobileAppApi\Controller\:
    resource: "../../../src/MobileAppApi/Controller"
    tags: [controller.service_arguments]

  # Instance configuration for specific classes.
  _instanceof:
    App\Common\Bus\Command\CommandHandler:
      tags: [ user.command_handler ]
    App\Common\Bus\Query\QueryHandler:
      tags: [ user.query_handler ]

  # Defines the InMemorySymfonyQueryBus service.
  App\Common\Bus\Query\Symfony\InMemorySymfonyQueryBus:
    arguments: [ !tagged_iterator user.query_handler ]  # Injects all tagged query handlers.
  # Defines the InMemorySymfonyCommandBus service.
  App\Common\Bus\Command\Symfony\InMemorySymfonyCommandBus:
    arguments: [ !tagged_iterator user.command_handler ]  # Injects all tagged command handlers.

  App\MobileAppApi\Security\AuthService:
    arguments:
      $jwtSecretKey: "%jwt_secret%"

