<tr style="height:11pt">
    <td style="width:50%">
        <p class="s1" style="padding-left: 2pt;text-indent: 0pt;line-height: 10pt;text-align: left;">Option
            {{index}}</p>
    </td>
    <td style="width:50%"></td>
</tr>
<tr style="height:140pt">
    <td style="width:50%">
        <p class="s2" style="padding-left: 2pt;text-indent: 0pt;text-align: left;">{{collection}}</p>
        <p style="padding-top: 6pt;text-indent: 0pt;text-align: left;"><br /></p>
        <p class="s3" style="padding-left: 2pt;text-indent: 0pt;text-align: left;">Taille <span class="s1">:
                {{dimension}}</span>
        </p>
        <p class="s3" style="padding-top: 6pt;padding-left: 2pt;text-indent: 0pt;line-height: 10pt;text-align: left;">
            Serrage
            <span class="s1">: </span>{{quality}} <span class="s1">: {{qualityLang}}</span>
        </p>

        <p class="s3"
           style="padding-top: 6pt;padding-left: 2pt;padding-right: 171pt;text-indent: 0pt;line-height: 158%;text-align: left;">
            Matériaux <span class="s1">: {{materials}}</span>
        </p>

        <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Prix/m² :
            {{price_ht_meter}} EUR HT</p>

        <p class="s4" style="padding-top: 4pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Prix du tapis :
            {{price_ht_total}} EUR HT</p>
    </td>
    <td style="width:50%" align="center">
        {{image}}</td>
</tr>