<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        @font-face {
            font-family: 'Garamond';
            font-style: normal;
            font-weight: 400;
            src: url(data:font/truetype;charset=utf-8;base64,{{ base64Font }}) format('truetype');

        }

        body {
            font-family: 'Garamond', serif;
            font-size: 10pt;
            text-align: center;
            margin: 0;
            padding: 10px;
            height: 15mm; /* Explicit height */
        }

        a, .footer-content {
            color: rgba(0, 0, 0, 0.5);
            text-decoration: none;
        }
    </style>
</head>
<body>
<div class="footer-content">
    <a href="http://www.diurne.com" style="text-decoration: none; color: inherit;">www.diurne.com</a><br/>
    45, rue Jacob 75006 Paris - Tel: +33 1 42 60 94 11 - Fax: +33 1 49 08 02 44 -
    <a href="mailto:office@diurne.com" style="text-decoration: none; color: inherit;">office@diurne.com</a><br/>
    office: +33 1 49 08 02 40<br/>
    SA au capital de 200 000 € - RC Paris B 343 254 165 - Code APE 5244 - SIRET 343 254 165 00016 - TVA : FR 31343254165
</div>
</body>
</html>
